.gradle/
.idea/
**/build/
local.properties
.DS_Store
*.apk
*.aab
*.jks
*.keystore
.env
.env.*
!.env.example
.jwt.*
*.private.json
.venv/
__pycache__/
.pytest_cache/
node_modules/
*.backup

.pass
*.pem
*.key

.kotlin/
